<html>
  <head>
    <script></script>
    <style>
      @import url(/stylesheets/fy-common.css);
      @import url(/stylesheets/fy-notice.css);
      @import url(/stylesheets/fy-upload.css);
    </style>
    <title>上传</title>
  </head>

  <body>

    <div id="head">
      上传 | <a href="/upload/list">媒体库</a>
    </div>

    <div id="main">

      <%= fy_notice %>

      <%form_for :upload, :url=>{:action=>:add}, :html=>{:id=>'form_upload', :multipart => true} do |f| %>
        <%= f.hidden_field :post_id, :value=> @post_id %>
        <%= f.file_field :attach %>
        <button>上传</button>
      <%end%><%#form%>

      <a href="javascript: window.parent.fyLightBox.close()">取消</a>

    </div>

  </body>
</html>
