<html>
  <head>
    <script></script>
    <style>
      @import url(/stylesheets/fy-common.css);
      @import url(/stylesheets/fy-default.css);
      @import url(/stylesheets/fy-upload.css);
    </style>
  </head>

  <body>

    <div id="head">
      <a href="/upload/add">上传</a> | 媒体库
    </div>

    <div id="main">
      <span class="notice">
        blah~
      </span>

      <ul id="list_upload">
        <li>
          <img src="bla.jpg" />
          <div class="desc">
            <p>est test test test test test </p>
            <i>upload/test.jpg</i> 120kb <br/>
            <i>by</i> <a href="#">Fleurer</a>
            <i>2 min ago</i>
            <span class="act">
              <a href="">插入</a>
              <a href="">编辑</a>
              <a href="">删除</a>
            </span>
          </div>
        </li>

        <li>
          <img src="bla.jpg" />
          <div class="desc">
            <p>test test test test test test test test test test test test test test test test test test test </p>
            <i>upload/test.jpg</i> 120kb <br/>
            <i>by</i> <a href="#">Fleurer</a>
            <i>2 min ago</i>
            <span class="act">
              <a href="">插入</a>
              <a href="">编辑</a>
              <a href="">删除</a>
            </span>
          </div>
        </li>

        <li>
          <img src="bla.jpg" />
          <div class="desc">
            <p>test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test </p>
            <i>upload/test.jpg</i>
            <span class="act">
              <a href="">插入</a>
              <a href="">编辑</a>
              <a href="">删除</a>
            </span>
          </div>
        </li>

      </ul>

    </div>

  </body>
</html>
