<html>
  <head>
    <script></script>
    <style>
      @import url(/stylesheets/fy-common.css);
      @import url(/stylesheets/fy-default.css);
      @import url(/stylesheets/fy-upload.css);
    </style>
  </head>

  <body>

    <div id="main">

      <span class="notice">
        blah~
      </span>

      <ul id="list-upload">
        <li>
          <img src="bla.jpg" />
          <div>
            <span class="desc">
              <p>test test test test test test test test test test test test test test test test test test test </p>
              <i>upload/test.jpg</i>
            </span>
            <span class="act">
              <a href="">插入</a>
              <a href="">编辑</a>
              <a href="">删除</a>
            </span>
          </div>
        </li>
        <li>
          <img src="bla.jpg" />
          <div>
            <span class="desc">
              <p>test</p>
              <i>upload/test.jpg</i>
            </span>
            <span class="act">
              <a href="">插入</a>
              <a href="">编辑</a>
              <a href="">删除</a>
            </span>
          </div>
        </li>
      </ul>

    </div>

  </body>
</html>
