<%= 
  render :partial => "share/head", :locals => {
    :cur   => :home,
    :title => '首页'
  }
%>
<div id="main">
  <h1>首页</h1>
  <span class="alert">cheers~ xxx successfully! </span>
  <span class="alert error">orz~ </span>

  <div id="left">

    <div class="blc">
      <h2>投稿</h2> 
      <div class="content">
        <p>it's a blc</p>
      </div>
    </div>
    <div class="blc">
      <h2>评论</h2> 
      <div class="content">
        <p>it's a blc</p>
      </div>
    </div>
    <div class="blc">
      <h2>新文章</h2> 
      <div class="content">
        <p>it's a blc</p>
      </div>
    </div>

  </div>
  <div id="right">

    <div class="blc">
      <h2>快速通道</h2> 
      <div class="content">
        <button>新文章</button>
        <button>新投票</button>
      </div>
    </div>
    <div class="blc">
      <h2>blc</h2> 
      <div class="content">
        <p>it's a blc</p>
        <button>确定</button>
      </div>
    </div>

  </div>
</div>

<%=render :partial=>'share/foot'%>
