<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <style>
            @import url(stylesheets/common.css);
            @import url(stylesheets/admin.css);
        </style>

        <title>Home - Fy</title>
    </head>
    <body>
        <div id="head">
            <a><h1 id="name">欢迎,Fleurer - Fy</h1></a>
            <ul class="nav">
                <li><a href="" class="cur">首页</a></li>
                <li><a href="">文章</a></li>
                <li><a href="">评论</a></li>
                <li><a href="">页面</a></li>
                <li><a href="">用户</a></li>
                <li><a href="">设置</a></li>
            </ul>
            <ul class="nav sub-nav">
                <li><a href="">新文章</a></li>
                <li><a href="">审核评论</a></li>
            </ul>
        </div>
        <div id="main">
            <h1>首页</h1>
            <span class="alert">cheers~ xxx successfully! </span>
            <span class="alert error">orz~ </span>

            <div id="left">

                <div class="blc">
                    <h2>投稿</h2> 
                    <div class="content">
                        <p>it's a blc</p>
                    </div>
                </div>
                <div class="blc">
                    <h2>评论</h2> 
                    <div class="content">
                        <p>it's a blc</p>
                    </div>
                </div>
                <div class="blc">
                    <h2>新文章</h2> 
                    <div class="content">
                        <p>it's a blc</p>
                    </div>
                </div>

            </div>
            <div id="right">

                <div class="blc">
                    <h2>快速通道</h2> 
                    <div class="content">
                        <button>新文章</button>
                        <button>新投票</button>
                    </div>
                </div>
                <div class="blc">
                    <h2>blc</h2> 
                    <div class="content">
                        <p>it's a blc</p>
                        <button>确定</button>
                    </div>
                </div>

            </div>
        </div>
        <div id="foot">
            
        </div>
    </body>
</html>
