<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <style>
      @import url(/stylesheets/common.css);
      @import url(/stylesheets/login.css);
    </style>

    <title>Login - Ycms</title>
  </head>
  <body>
    <div id="main">
      404 not found. <a href="<%=flash[:from]%>">go back</a>
    </div>
  </body>
</html>


