body {
  background: #fff;
}

#head {
  width: 360px;
  background: #fff;
  margin: 0 auto;
  padding: 10px 20px 5px 20px;
  border-bottom: 1px solid #eee;
  font: normal 12px arial;
}

#main {
  width: 360px;
  background: #fff;
  margin: 0 auto;
  padding: 10px 20px 20px 20px;
  font: normal 12px arial;
}

/* in the page upload/add */
#main #form_upload button {
}
#main #form_upload input[type="file"] {
  border: #eee 1px solid; 
  padding: 1px;
}

/* in the page upload/list */
#main #list_upload {
}

#main #list_upload li {
  padding: 5px 0 5px 0;
  border-bottom: 1px solid #eee;
}

#main #list_upload li i {
}

#main #list_upload li img {
  width: 70px;
  height: 70px;
  float: left;
}

#main #list_upload li .desc {
  width: 280px;
  margin: 0 0 0 75px;
}

#main #list_upload li .act {
  float: right;
  position: relative;
  bottom: 0px;
}
