body {
  background: #fff;
}

#head {
  width: 400px;
  background: #fff;
  margin: 0 auto;
  padding: 10px 20px 5px 20px;
  border-bottom: 1px solid #eee;
  font: normal 12px arial;
}

#main {
  width: 400px;
  background: #fff;
  margin: 0 auto;
  padding: 10px 20px 20px 20px;
  font: normal 12px arial;
}

/* in the list page */
#main form#upload {
}
#main form#upload input[type="file"] {
  border: #eee 1px solid; 
  padding: 1px;
}

/*= in the page upload/list */
#main div#uploads {
}

#main div.upload {
  padding: 5px 5px 5px 5px;
  display: block;
  width: 100%;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  position: relative;
}

#main div.upload img {
  float: left;
  width: 120px;
  height: 120px;
  overflow: hidden;
}

#main div.upload .desc {
  margin: 0 0 0 125px;
}

#main div.upload .desc span {
  width: 60%;
  float: left;
  color: #bbb;
}
#main div.upload .desc span.title {
  color: #555;
}

#main div.upload .act {
  position: absolute;
  z-index: 100;
  bottom: 5px;
  right: 10px;
  display: none;
}
#main div.upload:hover {
  background: #eee;
}
#main div.upload:hover .act {
  display: block;
}
